body{
    background: #212122;
    
    min-height: 100vh;
    background: url(/icons/fondo2.png) no-repeat center center fixed;
    /*
    linear-gradient(rgba(5, 7, 12, 0.2)),
    rgba(5, 7, 12, 0.2),
    url(/icons/uaemex3.jpg) no-repeat center center fixed;
    background-size: cover;

    background-image: url(/icons/uaemex.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    */
}

.bg-black{
    background: #111111;
}
